.body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #aad6ff;
}

header {
    background: linear-gradient(to right, #9ba9fc, #5d7bff);
    padding: 2rem;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    
}

section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f0f4ff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    
}
h2 {
    color: #333;
    margin-bottom: 1rem;
    text-size-adjust: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    background: linear-gradient(to right, #9ba9fc, #5d7bff);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.4rem 1rem;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    display: inline-block;
   

}

nav ul li a:hover {
    box-shadow: inset 5px 5px 10px #5d7bff,
                inset -5px -5px 10px #9ba9fc;
    transform: translateY(2px);
}

.contenedor {
    background-color: #9ba9fc;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    font-size: 16px;
    width: 400px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: inline-table;
    margin: 0.5rem;
    height: 380px;
}


footer {
    
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f0f4ff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    color: #333;
    border-radius: 20px;
    
}

button {
    position: fixed;
    bottom: 90px; /* 60px arriba del botón de ir al inicio */
    right: 30px;
    z-index: 101;
    background: linear-gradient(145deg, #25D366, #128C7E);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #128C7E,
                -5px -5px 10px #25D366;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


