.body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #aad6ff;
}

header {
    background: linear-gradient(to right, #9ba9fc, #5d7bff);
    padding: 2rem;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    
}
img.logo {
    position: absolute;
    top: 50px;
    left: 50px;
}
img.logo-plaza {
    position: absolute;
    top: 40px;
    right: 40px;
}

section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f0f4ff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    
}
h2 {
    color: #333;
    margin-bottom: 1rem;
    text-size-adjust: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    background: linear-gradient(to right, #9ba9fc, #5d7bff);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.4rem 1rem;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    display: inline-block;
   

}

nav ul li a:hover {
    box-shadow: inset 5px 5px 10px #5d7bff,
                inset -5px -5px 10px #9ba9fc;
    transform: translateY(2px);
}

.contenedor {
    background-color: #9ba9fc;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    font-size: 16px;
    width: 400px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: inline-table;
    margin: 0.5rem;
    height: 380px;
}
.contenedor-alumbrado {
    background-color: #9ba9fc;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    font-size: 16px;
    width: 700px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: inline-table;
    margin: 0.5rem;
    height: 180px;
}

.contenedor-plaza 

footer {
    
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f0f4ff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    color: #333;
    border-radius: 20px;
    
}

button {
    position: fixed;
    bottom: 90px; /* 60px arriba del botón de ir al inicio */
    right: 30px;
    z-index: 101;
    /* background: linear-gradient(145deg, #25D366, #128C7E); */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 6px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px #128C7E,
                -5px -5px 10px #25D366; */
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de contacto WhatsApp */
#whatsappBtn {
    position: fixed;
    bottom: 90px; /* 60px arriba del botón de ir al inicio */
    right: 30px;
    z-index: 101;
    background: linear-gradient(145deg, #25D366, #128C7E);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whatsappBtn:hover {
    box-shadow: inset 5px 5px 10px #128C7E,
                inset -5px -5px 10px #333;
    transform: translateY(-2px);
}

#inicioBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 101;
    background: linear-gradient(145deg, #2d88ff, #0044ff);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #babecc,
                -5px -5px 10px #ffffff;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicioBtn:hover {
    box-shadow: inset 5px 5px 10px #128C7E,
                inset -5px -5px 10px #333;
    transform: translateY(-2px);
}

#web_evc {
    position: fixed;
    bottom: 160px;
    right: 30px;
    z-index: 101;
    background: linear-gradient(145deg, #cfe4ff, #a6bdd3);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #babecc,
                -5px -5px 10px #ffffff;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#web_evc:hover {
    box-shadow: inset 5px 5px 10px #128C7E,
                inset -5px -5px 10px #333;
    transform: translateY(-2px);
}

/* Carousel Styles */
.carousel {
    position: relative;
    max-width: 400px;
    max-height: 700px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.9s ease;
}

.carousel-control:hover {
    background: rgba(0,0,0,0.8);
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

